.heading {
    background-image: url('https://wallpaperaccess.com/full/137891.jpg');
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% auto;
    position: sticky;
    top: 0px;
    z-index: 10;
  }
  
  .heading-text {
    margin: 0;
    margin-bottom: 5px;
  }
  